<form
  class="px-4 py-3"
  [formGroup]="registerForm"
  (ngSubmit)="onRegisterSubmit()"
>
  <alert></alert>

  <h5>Registreer een nieuw account:</h5>

  <div class="form-group">
    <label class="control-label">Gebruikersnaam</label>
    <input type="text" class="form-control" formControlName="username" />
    <bfv-messages></bfv-messages>
  </div>

  <div class="form-group">
    <label class="control-label">Wachtwoord</label>
    <input type="password" class="form-control" formControlName="password" />
    <bfv-messages></bfv-messages>
  </div>

  <label
    ><input
      type="checkbox"
      name="acceptagreement"
      formControlName="acceptagreement"
      value="value"
    />
    Ik accepteer de voorwaarden</label
  >

  <div class="register-button-div">
    <button
      mat-raised-button
      color="primary"
      [disabled]="registerForm.invalid || loadAble.loading || loadAble.success"
    >
      Registreren
    </button>
  </div>
</form>
