.fill-space {
  flex: 1 1 auto;
}

/* .fixed-tool-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  } */

#title {
  text-align: center;
}

.main-content {
  padding:20px;
}
