<div fxFlex fxLayout fxLayoutAlign="flex-end">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button mat-button ngbDropdownToggle>Inloggen</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form
            class="px-4 py-3"
            [formGroup]="loginForm"
            (ngSubmit)="onLoginSubmit()"
          >
            <div class="form-group">
              <label for="username">Gebruikersnaam</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="password">Wachtwoord</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck"
                formControlName="rememberme"
              />
              <label class="form-check-label" for="dropdownCheck">
                Ingelogd blijven
              </label>
            </div>
            <button
              mat-raised-button
              color="primary"
              [disabled]="
                loginForm.invalid || loadAble.loading
              "
            >
              Inloggen
            </button>
          </form>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem [routerLink]="['/register']">
            Nog geen account? Registreer hier
          </button>
          <button ngbDropdownItem>Wachtwoord vergeten?</button>
        </div>
      </div>
    </div>
  </div>
</div>
