@model JusDanceProjects.API.Models.DanceCourse

@{
    ViewBag.Title = "Create Dance Course";
}

<h1>DanceCourses:</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DanceCourseTypeId" class="control-label"></label>
                <select asp-for="DanceCourseTypeId" class ="form-control" asp-items="ViewBag.DanceCourseTypeId"></select>
            </div>

            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}
