@model IEnumerable<JusDanceProjects.API.Models.DanceCourse>

@{
}

<div class="container">
    <div class="row mb-3">
        <form asp-controller="DanceCourses" asp-action="Index">
            <h1>DanceCourses:</h1>
            <a asp-controller="DanceCourses" asp-action="Create" class="btn btn-primary">Create new</a>
        </form>
    </div>

    <div class="row">
    @foreach(var item in Model)
    {
      <div class="card mb-3 mr-3 col-sm-12 .col-md-8 col-lg-6 col-xl-4">
        <div class="card-body">
            <h5 class="card-title">@item.DanceCourseType.Title</h5>
            <p class="card-text">@item.Location</p>
            <a asp-controller="DanceCourses" asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
          </div>
        </div>
    }
    </div>
</div>