.position-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998
}

mat-toolbar {
  background: #000c0c;
  color: #fff;
}

mat-sidenav {
  background: #00796B;
  color: #fff;
}

.side-nav-item {
  color: #fff;
}

.title {
  /* text-shadow: 1px 1px #ffffffd7; */
  color: #00796B;
  font-size: x-large;
  cursor: pointer;
  text-decoration: none;
}

.img-container {
  position: relative;
}

.logo {
  height: 75%;
  position: absolute;
  margin: auto;
  display: block;
  top: 60%;
  bottom: 50%;
  left: 0;
  right: 0;
}
