<mat-toolbar class="position-fixed">
  <mat-toolbar-row>
    <div style="display: block;">
      <button type="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div *ngIf="authService.loggedIn()">
      <button
        mat-button
        matTooltip="Mijn lessen"
        id="nav-myclasses-menu-button"
        [routerLink]="'/myclasses'"
      >
        Mijn lessen
      </button>
    </div>

    <a
      id="nav-title"
      *ngIf="screenWidth > 840"
      class="title mx-auto"
      [routerLink]="'/home'"
    >
      JusDanceProjects
    </a>

    <div *ngIf="authService.loggedIn(); else notLoggedIn">
      <button
        mat-button
        matTooltip="Mijn Account"
        [matMenuTriggerFor]="accountMenu"
        id="nav-account-menu-button"
      >
        <mat-icon>account_circle</mat-icon>
        {{ decodeToken.unique_name }}
      </button>
      <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
        <button id="nav-account-button" mat-menu-item [routerLink]="'/account'">
          <mat-icon>person</mat-icon><span>Mijn Account</span>
        </button>
        <!-- <button mat-menu-item [routerLink]="'/home'">
          <mat-icon>help</mat-icon><span>Instellingen</span>
        </button> -->
        <mat-divider></mat-divider>
        <button id="nav-logout-button" mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>Uitloggen
        </button>
      </mat-menu>
    </div>

    <ng-template #notLoggedIn>
      <a id="nav-login-button" mat-button [routerLink]="'/login'">Inloggen</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    fixedInViewport="true"
    [mode]="screenWidth > lxScreenWidth ? 'side' : 'over'"
  >
    <mat-nav-list class="mt-2">
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/accounts'"
        (click)="sidenav.close()"
      >
      </a>
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/accounts'"
        (click)="sidenav.close()"
      >
        Welkom bij JusDanceProjects!
      </a>
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/create-account'"
        (click)="sidenav.close()"
        >Aanbod</a
      >
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/contacts'"
        (click)="sidenav.close()"
        >Rooster</a
      >
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/create-contact'"
        (click)="sidenav.close()"
        >DuckTape</a
      >
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/activities'"
        (click)="sidenav.close()"
        >Contact</a
      >
      <a
        class="side-nav-item"
        mat-list-item
        [routerLink]="'/create-activity'"
        (click)="sidenav.close()"
        >Dans in beeld</a
      >
      <a class="side-nav-item" (click)="sidenav.close()" mat-list-item>
        Close
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background: #000c0c;">
    <div class="container">
      <div class="row justify-content-center">
        <div style="background: #ffffff; width: 100%;">
          <div class="img-container">
            <img
              class="logo"
              src="https://i1.wp.com/jusdanceprojects.nl/wp-content/uploads/2017/08/Jus-Dance-logo-EMPTY-WL.png?fit=1980%2C1631"
              alt=""
            />
            <img
              class="img-fluid"
              src="http://jusdanceprojects.nl/wp-content/uploads/2018/08/cropped-20180629-_MG_1752.jpg"
              alt=""
            />
          </div>
          <div class="container">
            <div class="row">
              <div class="col mt-3 mx-5">
                  <alert></alert>
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
